<h2>Share your thoughts</h2>
<h3>No matter if you succeeded or failed, write aboutyour experience.</h3>
<h3>Read how others felt.</h3>
<%= link_to(image_tag("/assets/arrow_left.png", :alt => "Intro 4"), "/static_pages/intro4.html") %>
<%= link_to(image_tag("/assets/arrow_go.png", :alt => "Quests Overview"), "/quests/") %>