<h2>Pick a challenge</h2>
<h3>like living on miminum wage</h3>
<%= link_to(image_tag("/assets/arrow_left.png", :alt => "Intro 2"), "/static_pages/intro2.html") %>
<%= link_to(image_tag("/assets/arrow_right.png", :alt => "Intro 4"), "/static_pages/intro4.html") %>