<h2>We want to give you the opportunity to find out!</h2>
<%= image_tag("/assets/tutorial1.png", :alt => "an image") %>
<%= link_to(image_tag("/assets/arrow_left.png", :alt => "Intro 1"), "/static_pages/intro1.html") %>
<%= link_to(image_tag("/assets/arrow_right.png", :alt => "Intro 3"), "/static_pages/intro3.html") %>