<h2>Do it!</h2>
<h3>Do not spend more then 5 EUR a day.</h3>
<h4>How long can you keep it up?</h4>
<h4>How do you feel?</h4>
<%= link_to(image_tag("/assets/arrow_left.png", :alt => "Intro 3"), "/static_pages/intro3.html") %>
<%= link_to(image_tag("/assets/arrow_right.png", :alt => "Intro 5"), "/static_pages/intro5.html") %>